<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Auth</title>
</head>
<body>
    <h1>Google Auth</h1>
    {% if request.user.is_authenticated %}
        <h3>Your are authenticated</h3> {{ request.user }}
    {% else %}
        <h3>You are not authenicated</h3> 
        <a href="/accounts/login">Login</a>
    {% endif %}
</body>
</html>